@page
@model StorageModel
@{
    ViewData["Title"] = "Application Insights and Storage";
}
<h1>@ViewData["Title"]</h1>

<h2>Blobs</h2>

<table class="table">
    <thead>
        <tr>
            <th>Blob Name</th>
            <th>Download Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blob in Model.Blobs)
        {
            <tr>
                <td>@blob.BlobName</td>
                <td><a href="@blob.SasUri" target="_blank">Download</a></td>
            </tr>
        }
    </tbody>
</table>
